{% extends 'main.html' %}
{% load static %}
{% block content %}

	<section id="form"><!--form-->
		<div class="container" >
			<div class="row" style="border: 1">
				{% if messages %}
						{% for message in messages %}
					<div class="alert alert-danger text-center"><strong>{{ message }}</strong></div>
						{% endfor %}

					{% endif %}

				<div class="col-sm-12 text-center">
					<div class="signup-form text-center" style="width:40%; margin: 2px auto "><!--sign up form-->
						<h2>Modifier vos informations</h2>
						<form method="POST" action="{% url 'signup' %}" >
							{% csrf_token %}
							<input type="text" placeholder="Nom" id="nom" name="nom"/>
							<input type="text" placeholder="Prénom" id="prenom" name="prenom"/>
							<input type="text" placeholder="Nom d'Utilisateur" id="username2" name="username"/>
							<input type="email" placeholder="Addresse Email" id="email" name="email"/>
							<input type="password" placeholder="Mot De Passe" id="password2" name="password"/>

							<div style="width:30%; margin: 2px auto;" class="justify-content-center">
								<button type="submit" class="btn btn-default ">Enregistrer</button>
							</div>

						</form>
					</div><!--/sign up form-->
				</div>
			</div>
		</div>
	</section><!--/form-->

{% endblock %}